@page "/contact"
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc

<div>
    <div class="row">
        <div class="col-xl-10">
            <h5>Contact me:</h5>

            <p>
                If you wish to contact me, you can email me <a href="mailto: laura.shearer.cooper@gmail.com">here</a>. Alternatively, you can text or call me at 720.935.0614.
                <br />
                You can find more information at my <a href="https://www.linkedin.com/in/laura-shearer-cooper/">LinkedIn</a>, my <a href="https://github.com/lscooper">Github</a>, or my <a href="https://drive.google.com/file/d/1l_ChCl_1fjSDyVGfMXz2hM36qIUHtp-x/view?usp=sharing">resume</a>.
                <br />
                Don't hesitate to reach out!
            </p>
        </div>
       
    </div>
</div>
