@page "/"
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc

<div>
    <div class="row">
        <div class="col-7">
            <h5>Hello!</h5>

            <p>
                My name is Laura Shearer Cooper. Welcome to my portfolio! I'm a full-stack web developer with a background in both Interdisciplinary Liberal Arts and Computer Science. <br />
                I bring this background to my programming by combining my logical and problem solving skills with a friendly, empathetic, human-focused slant. I find great satisfaction in solving difficult problems, and I love to learn new skills or develop new and unconventional methods to do so. <br />
                I always strive to find new ways to improve my skills. I'm rarely idle; even in my free time, you're likely to find me working on any number of hobbies. I love to have a good task to be working on!<br />
            </p>
        </div>
        <div class="col-5"><img src="assets/profile.jpeg" /></div>
    </div>
</div>
