@inherits LayoutComponentBase
<div class="container">
    <div class="row">
        <div class="navbar-collapse">
            <NavMenu />
        </div>
    </div>

        <div class="row">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
